@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.box-container{
    padding-left: 48px;
    padding-top: 40px;
    font-family: Poppins, sans-serif;
 
}
/* box header */
.box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-header-left-section{
    font-size: 32px;
}
.box-header-right-section{
    font-size: 24px;
}
.box-header-right-section span a{
    text-decoration: none;
    color: black;
    transition: 1.45s;
}
.box-header-right-section button{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.8s;
}
.box-header-right-section button:hover{
    background-color: lightgray;
}
.box-container h3{
    font-size: 32px;
}
.box-container span{
    font-size: 24px;
}
.box-container span a:hover{
    color: rgb(130, 129, 129);
    cursor: pointer;
}
/* grid container */
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    margin-top: 15px;
}
.card div{
    font-size: 15px;
}
.card img{
    width: 100%;
    display: block;
}
.exploreMore-btn{
    background-color: lightgrey;
    display: inline-block;
}