/* PC */
@media (min-width: 1024px) {
    
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px)  {
    
}

/*mobile */
@media (max-width: 768px) {
    /* top */
    .header{
        padding: 0;
    }
    .top{
        display: none;
    }
    /*header*/
    .mid-header{
        display: none;
    }

    .slidebar{
        display: none;
        
    }
    .slidebar nav ul{
        flex-direction: column;
        list-style-type: none;
        background-color: lightcyan;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        bottom: 0;
        z-index: 100;
        padding: 5px;
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
      
    }
    .slidebar nav ul li{
        margin: 15px 10px 15px 10px;
    }
    .slidebar nav ul li:hover{
        background-color: antiquewhite;
        padding: 5px 5px 2px 5px;
        transition: 0.5s;
    }
    .slidebar nav ul li a{
        text-decoration: none;
        font-size: 20px;
        color: var(--grey-colour);
    }
    .slidebar nav ul div i{
        cursor: pointer;
    }
    .slidebar .sidebar-active{
        margin: 0 8px 0;
        display: block;
        font-size: 18px;
        cursor: pointer;
        transition: 0.7s;
    }
    .right-header #user{
        display: block;
    }
    .right-header .sidebar-active{
        display: block;
        margin: 0 8px 0;
        cursor: pointer;
        font-size: 18px;
        transition: 0.5s;
    }
    /* intro text area */
    .categories h3{
        font-size: 24px;
    }
    .categories p{
        font-size: 12px;
    }
    .layer h3{
        font-size: 16px;
    }
    /* box */
    .box-container{
        padding-left: 20px;
    }
    .box-container h3{
        font-size: 24px;
    }
    .box-container span{
        font-size: 18px;
    }
    .box-header-right-section button{
        display: none;
    }
    .box-container span{
        padding: 0 5px 0;
    }
    .star-evaluation i {
        font-size: 13px;
    }
    /* footer */
    .footer-row-1{
        text-align: center;
        flex-direction: column;
    }
    .footer-col-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        /* border-bottom: 1px solid black; */
    }
    .footer-col-1 h4{
        font-size: 24px;
    }
    .footer-col-1 p{
        font-size: 18px;
    }
    .footer-col-1 div{
        width: 200px;
    }
    .footer-col-1 div img {
        width: 100%;
    }
    .footer-col-2{
        width: 100%;
        /* border-bottom: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
  
    }
    .footer-col-2 img {
        width: 61px;
        margin: 0;
    }
    .footer-col-2 p{
        font-size: 18px;
        margin: 0;
        padding: 0 20px 0;
    }
    .footer-col-3{
        display: flex;
        flex-direction: column;
        /* border-bottom: 1px solid black; */
        align-items: center;
    }
    .footer-col-4{
        display: flex;
        flex-direction: column;
        /* border-bottom: 1px solid black; */
        align-items: center;
    }
    .footer-col-3 h4, .footer-col-4 h4{
        width: 90px;
        font-size: 16px;
        margin: 15px 0 0 0;
    }




    /* Product Gird Page */
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr ;
    }






}
@media (max-width: 580px) {
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .product-info span, .product-info p{
        font-size: 14px;
    }
}
@media (max-width: 380px){
    .grid-container{
        grid-template-columns: 1fr;
    }
    .product-info span, .product-info p{
        font-size: 16px;
    }
}